body {
  margin: 0;
  padding: 0;
}

div {
  overflow: hidden;
  box-sizing: border-box;
}

button {
  width: 100px;
  height: 100px;
}

.boardOuter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: rgb(105, 199, 64);
}

.boardHole {
  width: 150px;
  height: 150px;
  border: 5px solid rgb(198, 137, 32);
  background-color: rgb(65, 44, 12);
  border-radius: 75px;
}

.mole {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 162, 23);
  border-radius: 75px;
}

.bigHole {
  width: 300px;
  height: 300px;
  border: 5px solid rgb(198, 137, 32);
  background-color: rgb(65, 44, 12);
  border-radius: 75px;
}
